<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot模版渲染</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
	<p th:text="${#dates.format(mydate, 'yyyy-MM-dd')}"/>
	<hr/>
	<p th:text="${#sets.size(names)}"/>
	<p th:text="${#sets.contains(names, 'Book - 1')}"/>
	<p th:text="${#sets.contains(names, 'Book - 10')}"/>
	<p th:text="${ids[0]} + ' ' + ${names[0]}">
	<hr/>
	<p th:text="${#strings.replace('www.baidu.com', '.', '-')}"/>
	<p th:text="${#strings.toUpperCase('abc')}"/>
	<p th:text="${#strings.trim('  www.baidu.com   ')}"/>
</body>
</html>